@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Timmons Media</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Series</h2>
        <p>Test: Show all available TV series.</p>
        <p>
            <div id="seriesDiv"></div>
            <div id="episodeDiv"></div>
            <div id="videoDiv"></div>
        </p>
    </div>
</div>